<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Car</key>
	<dict>
		<key>name</key>
		<string>string benz</string>
		<key>price</key>
		<string>int price</string>
		<key>style</key>
		<string>int style</string>
		<key>tire</key>
		<string>Tire tire</string>
	</dict>
	<key>Tire</key>
	<dict>
		<key>size</key>
		<string>int size</string>
		<key>weight</key>
		<string>int weight</string>
		<key>band</key>
		<string>string band</string>
	</dict>
</dict>
</plist>
